.page{
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  transition: transform 0.5s ease-in-out;
}
.page-enter{
  transform: translate(100%);
}
.page-enter-active{
  transform: translate(0%);
}
.page-exit-active{
  transform: translate(-100%);
}

.reverse.page-enter{
  transform: translate(-100%);
}
.reverse.page-enter-active{
  transform: translate(0%);
}
.reverse.page-exit-active{
  transform: translate(100%);
}