.Palette{
  height: 100vh;
  overflow: hidden;
}
.Palette-header{
  height: 10%;
  min-height: 80px;
}
.Palette-colors{
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.Palette-footer{
  height: 5%;
  margin-right: 3rem;
  font-weight: 500;
  font-size: 11pt;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}